
	<div class="page-header">
  		<h1 style = "text-align: center;">POWER UPP </h1>
	</div>
	<form method="get" action="/help" role="group" style = "text-align:right">
		<input type = "hidden" name = "tm" value = "{{tm}}"> </input>
		<input type = "hidden" name = "usr" value = "{{user}}"> </input>
		<input type = "hidden" name = "eml" value = "{{email}}"> </input>
	    <button type="submit" class="btn btn-default btn-sm">Help
	      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	    </button>
	</form>