<!doctype html>

<html>
<head>
	<title>Power Upp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<!--link rel="stylesheet" href="/css/hci-friends.css"-->

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<!--script src="/js/hci-friends.js"></script-->
	<script src="/js/powerupp.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body style="background-color: black">

<div class="container-fluid" style = "background-color: black">
	<div class="page-header" style = "background-color: white">
  		<h1 style = "text-align: center; font-family: Anton">POWER UPP </h1>
	</div>
	
	<div class="row">
	  <div class="col-md-5"></div>
	  <div class="col-md-4">
	  	<p style="text-align:left"><img src="https://s-media-cache-ak0.pinimg.com/originals/45/16/60/451660be8fd683b9740855f7bb24e4ff.gif" width:"100" height="100" class="img-rounded" alt="knight" style="background-color:white"> </p>
	  	<h4 style="color:lightgrey; text-align:Left"><em>NEW USER</em></h4> 
	  </div>
	  <div class="col-md-3"></div>
	</div>



	<form role = "form" class="form-horizontal" method = "get" action = "/home">
	  <div class="form-group">
	    <label for="inputName" class="col-sm-2 control-label" style="color:white">Full Name</label>
	    <div class="col-sm-10">
	      <input type="name" class="form-control" id="inputName" placeholder="Name" name = "name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputAge" class="col-sm-2 control-label" style="color:white">Age</label>
	    <div class="col-sm-10">
	      <input type="age" class="form-control" id="inputAge" placeholder="Age" name = "age">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail" class="col-sm-2 control-label" style="color:white"> UCSD Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail" placeholder="Email" name = "email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label" style="color:white">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name = "password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default" id ="create">Sign Upp!</button>
	    </div>
	  </div>
	</form>
	

	
</div>


</body>
</html>
