/* applies to anything of class "example-class-selector" */
.page-header {
	background-color: inherit;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.navbar-fixed-bottom .btn .btn-primary{	
	color: green;
}

h1, h2, h3, h4, h5 {
	color: lightgrey;
}

body{
	background-color: #272b30;
}

.user{
	background-color: #272b30;
}

.title{
	background-color: #272b30;
}