/* applies to anything of class "example-class-selector" */
.page-header {
	background-color: inherit;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.navbar-fixed-bottom .btn .btn-primary{	
	color: red;
}

h1, h2, h3, h4, h5,p {
	color: lightgrey;
	font-family: Anton;
}

body{
	background-color: #272b30;
}

label{
	color: lightgrey;
}

.user{
	background-color: #272b30;
}

.title{
	background-color: #272b30;
}

.panel-heading{
	font-family: Anton;
	font-size: 25px;
}

p.groove {
	border-style: groove;
	padding: 10px 20px 10px 20px;
}

label.blk{
	color: black;
}

button.cancel{
	color: white;
}


