/* applies to anything of class "example-class-selector" */
.page-header {
	background-color: inherit;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.navbar-fixed-bottom .btn .btn-primary{	
	color: green;
}

h1, h2, h3, h4, h5 ,p {
	color: #66FF00;
}

body{
	background-color: #990099;
}

label{
	color: #66FF00;
}

.user{
	
}

.title{
	
}