/* applies to anything of class "example-class-selector" */
.page-header {
	background-color: inherit;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.navbar-fixed-bottom .btn .btn-primary{	
	color: green;
}

h1, h2, h3, h4, h5 ,p {
	color: #66FF00;
	font-family: Anton;
}

body{
	background-color: #990099;
}

label{
	color: #66FF00;
}

.user{
	
}

.title{
	
}

.panel-heading{
	font-family: Anton;
	font-size: 25px;
}

p.groove {
	border-style: groove;
	padding: 10px 20px 10px 20px;
}

label.blk{
	color: black;
}
